#terms-conditions{
    background-color: #CCAD8F;
    padding: 2% 0;
    margin: 2% 7.5%;
}

h1,h4{
    font-family: "Noto-Serif",sans-serif;
    font-style: italic; 
}

h1{
    text-align: center;
    margin-bottom: 4%;
}

h4{
    margin-left: 5%;
}

p{
    margin-left: 7.5%;
    padding-right: 15%;
}