
.container {
  background-image: url('../../../assets/images/GifMerka.gif');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: nowrap; 
  justify-content: flex-start;
  overflow-x: auto; 
  gap: 5%;
  padding: 9% 0;
  margin: 2% 0;
  scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
  height: 10px;
}

.container::-webkit-scrollbar-track, .container::-webkit-scrollbar-thumb {
  background: #F0CD93; 
  border-radius: 5px; 
}

.container::-webkit-scrollbar-thumb  {
  background: #E08B5B; 
}

.company {
  flex: 0 0 auto; 
  display: inline-block;
  position: relative;
  width: 25%; 
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  background-color: #F0CD93;
  margin: 2% 0;
  margin-left: 4%;
}

.company img {
  width: 100%;
  height: auto;
}

.company-name-bk {
  background-color: #F69479;
  border-radius: 30px;
  position: absolute;
  top: 55%;
  height: 60%;
  width: 105%;
  transform: skew(19deg, -9deg);
}

.company-name {
  position: absolute;
  right: 5%; 
  bottom: 25%;
}

.company-name mat-card-title{
  font-size: 20px;
  font-weight: 500;
}

button {
  position: absolute;
  font-family: 'Noto-Serif', sans-serif;
  font-style: italic;
  right: 5%; 
  bottom: 10%;
  background-color: transparent; 
  border: none;
  padding: 2% 5%; 
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button[mat-flat-button]:hover {
  transform: scale(1.05); 
  font-style: normal;
}


@media (max-width: 768px) {

  .company{
    width: 50%;
  }

}

@media (max-width: 500px) {

  .container{
    margin: 12.5% 0;
    gap: 20%;
    padding: 25% 0;
  }

  .company{
    width: 85%;
    margin-left: 8%;
  }

}