<div class="container">
    @for(producto of productos; track producto.id_producto){
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ producto.nombre }}</mat-card-title>
        </mat-card-header>
        <div class="container-img">
            <img mat-card-image [src]="producto.imagen_url" alt="Imagen del producto">
        </div>
        <mat-card-content id="descripcion">
            <p>{{ producto.descripcion }}</p>
        </mat-card-content>
        <mat-card-content class="bottom-product">
            <div class="bottom-container">
                <div class="price">
                    <p>Precio:</p>
                    <span>{{ producto.precio }} Bs.</span>
                </div>
                    <button mat-flat-button [routerLink]="['/inicio', producto.id_producto]">Más detalles</button>
            </div>
        </mat-card-content>
    </mat-card>
    }
</div>