<!-- seccion presentacion -->
<section class="presentation-container">
    <h1>¡Simplificamos el proceso!</h1>
    <p>En nuestra plataforma facilitamos el acceso a productos de calidad a precios competitivos. 
    <strong>Simplificamos el proceso</strong>  de compra y venta para ayudarte a crecer en el mercado.</p>
</section>
<!-- seccion sobre nosotros -->
<section class="about-us-container">
    <div id="image-about-us"><img src="assets/images/nosotros.png" alt="Imagen sobre nosotros"></div>
    <div id="text-about-us">
        <h1>Sobre Nosotros</h1>
        <p>En <i><strong>Merka</strong></i>, conectamos a los grandes fabricantes de nuestro pais o del exterior con los 
        compradores al por mayor. A través de nuestra plataforma, facilitamos el intercambio de productos de calidad, optimizando la 
        cadena de suministro y creando oportunidades para negocios de todos los tamaños. </p>
        <p>Nuestro objetivo es simplificar el proceso de compra, ofreciendo herramientas que permitan comparar precios,
        gestionar pedidos y negociar directamente con los proveedores enfocandonos en brindar un servicio eficiente y seguro.</p>
        <video width="640" height="360" controls>
            <source src="assets/MERKA.mp4" type="video/mp4">
            Tu navegador no soporta la etiqueta de video.
        </video>
    </div>  
</section>
<section class="FAQ-container">
    <h1>Preguntas Frecuentes</h1>
    <hr>
    <div>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title> ¿Con qué frecuencia se actualizan las ofertas en la plataforma?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Las ofertas se actualizan semanalmente. ¡Unete a nosotos para recibir noticias sobre las últimas promociones y descuentos exclusivos! </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title> ¿Qué tipos de productos puedo encontrar en la plataforma? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>En nuestra plataforma, puedes encontrar una amplia variedad de productos alimenticios,
            todos ofrecidos por fabricantes y proveedores verificados tanto internacionales como nacionales.</p>
        </mat-expansion-panel>
    </div>
    <hr>
    <div>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title> ¿Existen cargos adicionales al momento de realizar una compra?</mat-panel-title>
            </mat-expansion-panel-header>
            <p>Los precios presentes en la plataforma son finales. Sin embargo, puede haber costos de envío dependiendo de las polticas de los fabricantes. </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title> ¿Cómo se manejan los pagos en la plataforma? </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Aceptamos múltiples métodos de pago, incluidos tarjetas de crédito y transferencias bancarias <i>(QR o transferencia normal)</i>. 
            Todos los pagos en nuestra plataforma se procesan a través de un sistema seguro.</p>
        </mat-expansion-panel>
    </div>
    <hr>
</section>
  