//Seccion presentacion

.presentation-container {
    background-image: url("../../../assets/images/presentacion.png");
    background-size: cover; 
    background-position: center;
    padding: 10% 0; 
}

h1{
    font-family: "Noto-Serif", sans-serif;
    font-style: italic;
    font-size: 40px;
    max-width: 80%;
    margin-left: 5%;
    color: #5E503F;
}

.presentation-container p,.about-us-container p{
    font-size: 20px;
    margin-left: 5%;
    line-height: 1.5;
}

.presentation-container p{
    max-width: 30%;
}

.about-us-container{
    display: flex;
    margin-right: 5%;

}

#image-about-us{
    flex-basis: 50%;
}

#image-about-us img{
    max-width: 50%;
    margin-top: 35%;
    margin-left: 25%;
}

#text-about-us{
    flex-basis: 50%;
    margin-top: 5%;
    height: fit-content;
    border-top: solid 3px #5E503F;
    border-bottom: solid 3px #5E503F;
}

video{
    margin: 2% 0;
    margin-left: 5%; 
    border-radius: 10px; 
}

hr{
    border: none; 
    height: 2px; 
    background-color: #5E503F;
    margin: 2% 15%;
}

.FAQ-container div{
    display: flex;
    margin: 0 15%;
}

mat-expansion-panel{
    flex-basis: 50%;
    margin: 0 2%;
    height: fit-content;
}

mat-panel-title{
    font-family: "Noto-Serif", sans-serif;
    font-size: 20px;
    font-style: italic;
}

.FAQ-container mat-expansion-panel {
    font-family: "Poppins",sans-serif;   
    padding: 2%;
    background-color: #EBBC6F;
}

@media only screen and (max-width: 768px) {
    h1{
        font-size: 30px;
    }

    .presentation-container p,.about-us-container p{
        font-size: 18px;
    }

    mat-panel-title{
        font-size: 12px;
    }
    
    video{
        width: 100%;
        height: fit-content;
    }

    #image-about-us img{
        margin-top: 70%;
    }
  }

  @media only screen and (max-width: 425px) { 
    .presentation-container{
        background-size: contain; 
        background-repeat: no-repeat; 
    }

    .presentation-container h1{
        font-size: 18px;
    }

    .presentation-container p{
        font-size: 14px;
        margin-bottom: 0;
    }

    .about-us-container{
        flex-direction: column;
    }

    #image-about-us img{
        margin-top: 0;
    }

    video{
        width: 90%;
    }

    .FAQ-container div{
        flex-direction: column;
    }

    .FAQ-container hr:nth-child(4){
        height: 0px;
        margin: 0;
    }

    .FAQ-container mat-expansion-panel{
        margin: 10% 0%;
        padding: 8% 4%;
    }

    .FAQ-container mat-panel-title{
        font-size: 12px;
    }
}