<div class="marquee">
  <div class="marquee-content">
    <div>
      <img src="assets/images/offers.svg" alt="Oferta de la pagina">
      <p>¡Solo por hoy, 20% de descuento en todos nuestros productos!</p>
      <img src="assets/images/offers.svg" alt="Oferta de la pagina">
      <p>¡Solo por hoy, 20% de descuento en todos nuestros productos!</p>
      <img src="assets/images/offers.svg" alt="Oferta de la pagina">
    </div>
  </div>
</div>
<!-- seccion header -->
<header>
    <!-- links sitio -->
    <section class="menu-container">
      <div class="nav">
        <a [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a>
        <a [routerLink]="['/productos']" routerLinkActive="active">Productos</a>
        <a [routerLink]="['/empresas']" routerLinkActive="active">Empresas</a>
      </div>
    </section>
    <div class="gif-container">
      <a [routerLink]="['/inicio']" routerLinkActive="active">
        <img src="https://bg-so-1.zippyimage.com/2024/09/19/5eb5c8588e3a10c9c3787116701bf8a8.gif" alt="Logo " id="Logo" style="height: 58px; width:132px ;"/>
        <img src="https://bg-so-1.zippyimage.com/2024/09/19/64e0528eb0ed9abe34ad1a1b63bbbbe8.png" alt="Logo Estático" id="Logo-Estatico" style="height: 58px; width:132px ;"/>
      </a>
    </div>
    <section class="account-container">
        <div class="socials">
          <img src="assets/images/instagram.svg" alt="Instagram de la cuenta ingresada" class="social-media-account">
          <img src="assets/images/facebook.svg" alt="Facebook de la cuenta ingresada" class="social-media-account">
          <img src="assets/images/tiktok.svg" alt="Tik Tok de la cuenta ingresada" class="social-media-account">
        </div>
        <div class="nav">
          <a>Cuenta</a>
          <a>Carrito (0)</a>
        </div>
    </section>
  </header>
  <!-- seccion contenido -->
  <router-outlet></router-outlet>
  <!-- seccion footer -->
  <footer>
       <!-- div contenido footer -->
       <div class="footer-content">
        <span>Juntos hacemos crecer tu negocio. <br><br>¡Conexiones que importan!</span>
        <img src="assets/images/logo.png" alt="Logo-Pagina" style="width: 125px; height:152px;">
        <!-- seccion 1-->
        <div class="footer-section">
          <h4>Nuestras redes</h4>
          <ul id="menu-1">
            <li><a><img src="assets/images/instagram.svg" alt="Instagram Merka" class="social-media-account"></a></li>
            <li><a><img src="assets/images/facebook.svg" alt="Facebook Merka" class="social-media-account"></a></li>
            <li><a><img src="assets/images/tiktok.svg" alt="Tik Tok Merka" class="social-media-account"></a></li>
          </ul>
        </div>
        <!-- seccion 1-->
        <div class="footer-section">
          <h4>Información</h4>
          <ul>
            <li><a [routerLink]="['/productos']">Productos</a></li>
            <li><a>Empresas</a></li>
            <li><a>Ofertas</a></li>
            <li><a [routerLink]="['/inicio']" routerLinkActive="active">Politica de privacidad</a></li>
            <li><a [routerLink]="['/inicio']" routerLinkActive="active">Terminos y condiciones</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright">
        <h4>Copyright &copy; 2024 <br><br> UCB - Taller de Sistemas de Informacion <br><br> Cochabamba - Bolivia </h4>
        <div class="participantes">
          <h4>Participantes:</h4>
          <ul>
            <li><p>Adriana Aguilar Jimenez</p></li>
            <li><p>Agustin Ledezma Rodriguez</p></li>
            <li><p>Luis Menacho Torrez</p></li>
          </ul>
        </div>
        <div class="participantes">
          <ul>
            <li><p>Juan Pablo Montoya Jimenez</p></li>
            <li><p>Carlos Sejas Pareja</p></li>
            <li><p>Shelly Zapata Astete</p></li>
          </ul>
        </div>
      </div>
  </footer>
