.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 2% 0;
    margin-right: 5%;
}

.mat-mdc-outlined-button:not(:disabled) {
    color: black;
    font-family: "Poppins", sans-serif;
    border-color: black;
}


.mat-mdc-outlined-button:hover {
    background-color: #CCAD8F;
}

.detail-company {
    border-radius: 10px;
    background: #F0CD93;
    border: 1px solid #343434;
    margin: 5%;
    margin-top: 0;
    padding: 3% 0;
}

.detail-section {
    display: flex;
    margin: 0 3%;
}

.detail-company #Foto-Negocio {
    width: 30%;
    height: 30%;
    margin-right: 5%;
    margin-left: 2.5%;
    border-radius: 10%;
}

.detail-section span {
    font-family: 'Noto-Serif', sans-serif;
    font-style: italic;
}

.data {
    margin-bottom: 4%;
    border-radius: 10px;
    background-color: #CCAD8F;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    padding: 2%;
}

.data h1 {
    font-family: 'Noto-Serif', sans-serif;
    font-style: italic;
    font-size: 30px;
}

.data p {
    line-height: 2;
}

.detail-section{
    display: flex;
    margin: 0 3%;
}

.detail-section:last-child{
    gap: 15%;
}

#contact{
    margin-left: 7.5%;
}

#contact h2{
    text-align: center;
    margin-top: 0;
}

.detail-location {
    display: flex;
    margin: 0 3%;
    margin-top: 3%;
}


@media (max-width: 768px) {
    .detail-section {
        flex-direction: column;
    }

    .detail-company #Logo {
        width: 80%;
        height: 80%;
        margin-left: 7.5%;
    }

    .data {
        align-items: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .data h1 {
        font-size: 20px;
    }

    .data p {
        line-height: 2;
        font-size: 15px;
    }

}