<div class="button-container">
    <a mat-stroked-button [routerLink]="['/inicio']" routerLinkActive="active"> Volver atrás </a>
</div>

<div class="detail-company">
    <div class="detail-section">
        <img id="Foto-Negocio" [src]="negocio?.foto"  alt="Logo de {{negocio?.nombre}}">
        <div class="data">
            <h1>{{negocio?.nombre}}</h1>
            <p>🌟 Bienvenidos a <strong>{{negocio?.nombre}} -> </strong>{{negocio?.informacion}}</p>
            <p>✉️ <strong>Correo: </strong> <a href="mailto:{{negocio?.correo}}">{{negocio?.correo}}</a>
            </p>
            <p>📞 <strong>Contacto:</strong> {{negocio?.contacto}}</p>
            <p>📍 <strong>Latitud:</strong> {{negocio?.latitud}}, <strong>Longitud:</strong> {{negocio?.longitud}}</p>
        </div>
    </div>
    <div class="detail-section">
        <div id="contact">
          <h2>Contacto del negocio: </h2>
          <a href="{{linkQR}}" target="_blank"><qrcode [qrdata]="linkQR" [width]="300" errorCorrectionLevel="M"></qrcode></a>
        </div>
        <div class="detail-location">
            <google-map [height]="'310px'" [width]="'600px'" [center]="center" [zoom]="zoom">
                <map-circle [center]="center" [options]="circleOptions"></map-circle>
            </google-map>
        </div>
      </div>
</div>