.button {
  display: flex; /* Centrar el botón */
  justify-content: center; /* Alineación horizontal */
  margin: 20px 0; /* Margen superior e inferior */
}

.button a {
  color: #ffffff; /* Color del texto */
  background-color: #e39578; /* Color de fondo */
  border: 2px solid #e66e42; /* Borde del botón */
  border-radius: 5px; /* Esquinas redondeadas */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de letra */
  text-decoration: none; /* Eliminar subrayado */
  transition: background-color 0.3s, color 0.3s; /* Animación suave */
}

.button a:hover {
  background-color: #c66516; /* Color de fondo al pasar el mouse */
  color: #ffffff; /* Asegurar el contraste en hover */
}


.invoice-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.invoice-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.invoice-details {
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.invoice-table th,
.invoice-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.invoice-table th {
  background-color: #f2f2f2;
  color: #333;
}

.invoice-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.invoice-total {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.generate-pdf-button {
  display: inline-block;
  width: 10%;
  padding: 10px;
  background-color: #dd7031;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.generate-pdf-button:hover {
  background-color: #b34800;
}
