<div class="button">
  <a mat-stroked-button [routerLink]="['/inicio']" routerLinkActive="active"> Volver Inicio</a>
</div>

<div id="invoice" class="invoice-container">
  <h1 class="invoice-title">Factura</h1>
  <div class="invoice-details">
    <h2>Detalles de la Factura</h2>
    <p><strong>Fecha:</strong> {{ currentDate | date: 'dd/MM/yyyy' }}</p>
    <p><strong>Cliente:</strong> {{ nombreCliente }}</p>
  </div>

  <table class="invoice-table">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productosCarrito">
        <td>{{ item.producto.nombre }}</td>
        <td>         
          <p>
            <span *ngIf="item.producto.descuento > 0; else precioSinDescuento" class="descuento">
              {{ calcularPrecioDescuento(item.producto.precio, item.producto.descuento) }} Bs.
              <small>({{ item.producto.descuento }}%)</small>
            </span>
            <ng-template #precioSinDescuento>
              {{ item.producto.precio }} Bs.
            </ng-template>
          </p>
        </td>
        <td>{{ item.cantidad }}</td>
        <td>
          <p>
            <span *ngIf="item.producto.descuento > 0; else totalSinDescuento">
              {{ calcularPrecioDescuento(item.producto.precio, item.producto.descuento) * item.cantidad }} Bs.
            </span>
            <ng-template #totalSinDescuento>
              {{ item.producto.precio * item.cantidad }} Bs.
            </ng-template>
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="invoice-total">
    <h2>Total: {{ calcularTotal() }} Bs.</h2>
  </div>


</div>
<div class="button">
  <button class="generate-pdf-button" (click)="generatePDF()">Generar PDF</button>
</div>

