<section id="mision-vision">
    <h1><strong>Misión y Visión de MERKA</strong></h1>

    <section class="section-content">
        <div class="icon-container">
            <span class="icon">🌟</span>
        </div>
        <h4>MISIÓN</h4>
        <p>
            Conectar de manera eficiente a grandes fabricantes con tiendas de barrio y micromercados, facilitando el acceso a productos de calidad y optimizando la cadena de suministro para fortalecer los negocios locales y simplificar el proceso de compra.
        </p>
    </section>

    <div class="divider"></div>

    <section class="section-content">
        <div class="icon-container">
            <span class="icon">🚀</span>
        </div>
        <h4>VISIÓN</h4>
        <p>
            Ser la plataforma líder en la distribución de productos al por mayor, impulsando el crecimiento de pequeños y medianos negocios mediante soluciones innovadoras y seguras que transformen el comercio local.
        </p>
    </section>
</section>
