<h1>Editar Producto</h1>

<form [formGroup]="productoForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-form-field appearance="fill" id="nombre">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" required />
    <mat-error *ngIf="productoForm.get('nombre')?.invalid && productoForm.get('nombre')?.touched">
      El nombre es requerido.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="descripcion" required></textarea>
    <mat-error *ngIf="productoForm.get('descripcion')?.invalid && productoForm.get('descripcion')?.touched">
      La descripción es requerida.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Precio</mat-label>
    <input matInput formControlName="precio" type="number" min="0" step="0.01" required />
    <mat-error *ngIf="productoForm.get('precio')?.invalid && productoForm.get('precio')?.touched">
      El precio debe ser mayor que 0.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Link de tu logo nuevo</mat-label>
    <input matInput formControlName="imagen_url" required />
    <mat-error *ngIf="productoForm.get('imagen_url')?.invalid && productoForm.get('imagen_url')?.touched">
      Ingresa un link de imagen para tu logo
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Etiqueta</mat-label>
    <mat-select formControlName="etiqueta">
      <mat-option value="">Ninguna</mat-option>
      <mat-option value="Nuevo">Nuevo</mat-option>
      <mat-option value="Oferta del mes">Oferta del mes</mat-option>
      <mat-option value="Por tiempo limitado">Por tiempo limitado</mat-option>
      <mat-option value="Más popular">Más popular</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descuento (%)</mat-label>
    <input matInput formControlName="descuento" type="number" min="0" max="100" />
    <mat-error *ngIf="productoForm.get('descuento')?.invalid && productoForm.get('descuento')?.touched">
      El descuento debe estar entre 0 y 100.
    </mat-error>
  </mat-form-field>

  <button mat-stroked-button type="submit" [disabled]="productoForm.invalid">Guardar Cambios</button>
  <button mat-button type="button" (click)="onCancel()" id="cancelar">Cancelar</button>
</form>
