<!-- Sección form -->
<form novalidate>
    <h1>Editar Cuenta</h1>
    <!-- div nombre completo y correo-->
    <img src="assets/images/registro.svg" alt="Solicitar URL de imagen" style="cursor: pointer; width: 100px;" />
    <mat-form-field appearance="fill" class="center-field">
        <mat-label>Tipo de Usuario</mat-label>
        <mat-select [formControl]="userType" required>
            <mat-option value="negocio">Negocio</mat-option>
            <mat-option value="empresa">Empresa</mat-option>
        </mat-select>
        <mat-error *ngIf="userType.invalid && userType.touched">Selecciona un tipo de usuario</mat-error>
    </mat-form-field> 
    <mat-form-field id="img-registro" class="center-field">
        Ingresa el link de tu imagen:
        <input matInput [formControl]="logo" name="Logo o foto">
        <mat-error *ngIf="logo.invalid && logo.touched">Ingresa un link de imagen para tu logo</mat-error>
    </mat-form-field>
    <div class="form-2-fields">

        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput
            [formControl]="nombre"
            required name="nombre">
            <mat-error *ngIf="nombre.invalid && nombre.touched">Ingresa un nombre</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Ingresa tu correo</mat-label>
            <input matInput type="email" [formControl]="email" required name="correo">
            <mat-error *ngIf="email.hasError('required')">Ingresa un correo.</mat-error>
            <mat-error *ngIf="email.hasError('email')">Ingresa un correo electrónico válido.</mat-error>
        </mat-form-field>


    </div>
    <!-- div contraseña-->
    <div class="form-2-fields">

        <mat-form-field appearance="fill">
            <mat-label>Ingresa tu Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required name="contraseña">
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Hide password'" type="button">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid && password.touched">Ingresa tu contraseña</mat-error>
        </mat-form-field>
    </div>
    <!-- div descripcion y contacto-->
    <div class="form-2-fields">
        <mat-form-field>
            <mat-label>Ingresa una descripción o información</mat-label>
            <textarea matInput
            [formControl]="informacion" name="descripcion o informacion"></textarea>
            <mat-error *ngIf="informacion.invalid && informacion.touched">Ingresa una descripción</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Contacto</mat-label>
            <input type="tel" matInput 
                    [formControl]="contacto" 
                    placeholder="Ingresa un teléfono o email de contacto" name="contacto">
            <mat-error *ngIf="contacto.hasError('required')">El contacto es requerido.</mat-error>
            <mat-error *ngIf="contacto.hasError('pattern')"> Ingresa un contacto válido (teléfono o correo electrónico).</mat-error>
        </mat-form-field>      
    </div>
    <!-- div coordenadas-->
    <h4>Selecciona tu ubicación:</h4>
    <div class="form-2-fields" id="coords">
        <div>
        <google-map 
            [height]="'350px'"
            [width]="'500px'"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="seleccionarPunto($event)">
        </google-map>     
        </div>
        <!-- Mostrar coordenadas seleccionadas -->
        <div>
            <p>Latitud: {{ selectedCoordinates.lat }}</p>
            <p>Longitud: {{ selectedCoordinates.lng }}</p>
        </div>
    </div>
    <!-- creación de cuenta-->
    <button mat-stroked-button id="registrarse">Aplicar Cambios</button>
</form>
  
  
