<form [formGroup]="editarCuentaForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="inicio-cambios">
        <div>
          <h1>Editar Cuenta</h1>
          <div class="image-link">
            <div class="image-form-container">
              <img *ngIf="imageUrl;" [src]="imageUrl" loading="lazy" alt="Logo - Foto actual del negocio o empresa" style="width: 250px;" />            
              <div id="img-edicion" class="center-field">
                <mat-label>Edita tu imagen</mat-label>
                <input type="file" accept=".png,.jpeg,.webp" (change)="onImageSelected($event)">
              </div>
            </div>
          </div>
          
          <div *ngIf="userType === 'empresa'" class="image-link">
            <div class="image-form-container">
              <img *ngIf="imageQR" [src]="imageQR" loading="lazy" alt="Código QR actual" style="width: 250px;" />            
              <div id="img-edicion" class="center-field">
                <mat-label>Edita tu QR de pago</mat-label>
                <input type="file" accept=".png,.jpeg,.webp" (change)="onImageSelectedQR($event)">
              </div>
            </div>
          </div>
        </div>
      </div>
      

    <div class="form-2-fields">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Correo</mat-label>
            <input matInput type="email" formControlName="correo">
        </mat-form-field>
    </div>

    <div class="form-2-fields">
        <mat-form-field>
            <mat-label>Nueva Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="nuevaContraseña">
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Hide password'" type="button">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>        
        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirmar nueva contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmarContraseña">
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Hide password'" type="button">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>        
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-label>Contacto</mat-label>
        <input type="tel" matInput formControlName="contacto" placeholder="Ingresa un teléfono o email de contacto">
    </mat-form-field> 

    <mat-form-field id="descripcion">
        <mat-label>Descripción o informacion</mat-label>
        <textarea 
          matInput 
          formControlName="descripcion" 
          placeholder="Descripción o información"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="10">
        </textarea>
      </mat-form-field>

    <div class="form-2-fields" id="coords">
        <div>
        <google-map 
            [height]="'450px'"
            [width]="'250px'"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="seleccionarPunto($event)">
        </google-map>     
        </div>
        <!-- Mostrar coordenadas seleccionadas -->
        <div>
            <p>Latitud: {{ selectedCoordinates.lat }}</p>
            <p>Longitud: {{ selectedCoordinates.lng }}</p>
        </div>
    </div>

    <button mat-stroked-button type="submit" id="cambios-cuenta">Aplicar Cambios</button>
</form>
