<!-- Sección detalles -->
<section class="detail">
  <!-- Botón volver -->
  <div class="button-container">
    <a mat-stroked-button [routerLink]="['/productos']" routerLinkActive="active" class="btn-back">Volver atrás</a>
  </div>

  <!-- Contenedor del producto -->
  <article class="container-detail producto-card">
    <!-- Imagen del producto -->
    <div class="producto-imagen">
      <img [src]="producto?.imagen_url" alt="{{producto?.nombre}}" class="imagen">
    </div>

    <!-- Descripción del producto -->
    <div class="producto-detalles">
      <h1 class="producto-nombre">{{producto?.nombre}}</h1>
      <h2 class="producto-precio">{{producto?.precio}} Bs.</h2>

      <div *ngIf="(producto?.descuento ?? 0) > 0" class="producto-descuento">
        <h3>Precio con descuento:</h3>
        <p>{{ calcularPrecioDescuento(producto?.precio ?? 0, producto?.descuento ?? 0) }} Bs. ({{ producto?.descuento ?? 0 }}%)</p>
      </div>                

      <p class="producto-descripcion">{{producto?.descripcion}}</p>

      <!-- Botones de acción -->
      <div class="button-group">
        <button mat-button (click)="agregarAlCarrito()" class="btn-primary">Añadir al carrito</button>
        <button *ngIf="esPropietario" mat-button [routerLink]="['/productos/editar', producto?.id_producto]" class="btn-secondary">Editar Producto</button>
      </div>
    </div>
  </article>
</section>
