/* Contenedor principal */
.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 0;
}

/* Botón volver */
.button-container {
  margin-bottom: 20px;
}

.btn-back {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-back:hover {
  background-color: #ccad8f;
  color: white;
}

/* Tarjeta del producto */
.producto-card {
  display: flex;
  flex-direction: column;
  background-color: #f7e1b5;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  width: 100%;
  overflow: hidden;
}

.producto-imagen {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.imagen {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.producto-detalles {
  padding: 20px;
}

/* Estilo de texto */
.producto-nombre {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.producto-precio {
  font-size: 22px;
  font-weight: bold;
  color: #d87a28;
  margin-bottom: 15px;
}

.producto-descripcion {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}

.producto-descuento h3 {
  font-size: 18px;
  color: #d87a28;
}

.producto-descuento p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Botones */
.button-group {
  display: flex;
  gap: 10px;
}

.btn-primary,
.btn-secondary {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  width: 100%;
}

.btn-primary {
  background-color: #d87a28;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #fff;
  border: 2px solid #d87a28;
  color: #d87a28;
}

.btn-secondary {
  background-color: #333;
  color: white;
  border: none;
}

.btn-secondary:hover {
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
}

/* Diseño adaptable */
@media (min-width: 768px) {
  .producto-card {
    flex-direction: row;
  }

  .producto-imagen {
    flex: 1;
  }

  .producto-detalles {
    flex: 1;
  }
}

@media (max-width: 500px) {
  .button-container{
    margin: 10% 0;
  }

  .producto-card{
    margin-bottom: 10%;
  }
}